.splash-wrapper {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote-wrapper{
    display: inline;
    text-align: left;
    font-size: 56px;
    line-height: 1.5;
    width: 75%;
    margin-top: 40px;
}
.quote{
    display: inline;
    text-align: right;
    background-color: black;
    color: white;
}
.hidden{
    display: none;
}